docs/_config.yml
docs/node_modules
docs/example-script.js
docs/example-script.ts
docs/index.html
docs/package.json
docs/package-lock.json


.editorconfig
.eslintrc.json
jest.config.ts

tsconfig.json

src/index.test.ts